body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    /* background-color: #f7f4f4; */
    background-image: url('icons/icon-bg.png');
}

.time-or {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    opacity: .5;
}

#time-result-1, #time-result-2 {
    text-align: center;
    margin: 8px;
    padding: 0px;
    font-family: monospace;
    position: relative;
    font-size: 2.8em;
}

h2>small {
    font-size: 39%;
    opacity: .8;
    vertical-align: bottom;
    position: absolute;
    top: -20px;
}

.hidden {
    display: none
}

.vcenter {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.container {
    max-width: 700px;
}

.dark * {
    color: rgba(255,255,255,.7);
}

body.dark {
    background-image: url('icons/icon-bg-dark.png');
}

.dark .card {
    background-color: #131313;
}

.dark .select-wrapper li {
    background-color: #181818;
}

.dark .select-wrapper li:hover {
    background-color: #252525;
}

.dark .select-wrapper li.selected {
    background-color: #252525!important;
}

.dark .select-wrapper li.disabled>span {
    color: rgba(255,255,255,.2)!important;
}

#themetoggle {
    float: right;
    margin: 32px;
}